__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
.env
*.db
*.db-journal
*.db-wal
*.db-shm
*.key
.pytest_cache/
.mypy_cache/
logs
docs/Smart Locker Notes/
.obsidian/
smart_locker/frontend/PROMPTING_GUIDE.md
